extends layout.pug

block content
    .page
        h1.h1(style="text-align: center;") #{ title }
        .students
            each user in users
                .row.students__item
                    .user.students__user
                        .userpic
                            img(src="/images/works/"+ user.folder +"/userpic.jpg")
                        .user__name #{user.name}
                    .students__works
                        .row
                            .col_20.students__image.col_s_100
                                img(src="/images/works/"+ user.folder +"/1.jpg")
                            .col_20.students__image.col_s_100
                                img(src="/images/works/"+ user.folder +"/2.jpg")
                            .col_20.students__image.col_s_100
                                img(src="/images/works/"+ user.folder +"/3.jpg")
                            .col_20.students__image.col_s_100
                                img(src="/images/works/"+ user.folder +"/4.jpg")
                            .col_20.students__image.col_s_100
                                img(src="/images/works/"+ user.folder +"/5.jpg")